# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
**/.env
.env.local
.env.*.local

# Build output
dist/
**/dist/
build/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
